{% extends "base.html" %}
{% block title %}Список товаров{% endblock %}

{% block content %}
<h1 class="mb-4">Список товаров</h1>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Название товара</th>
        <th>Категория</th>
        <th>Статус активности</th>
        <th>Цена</th>
        <th>Заказы за прошлый месяц</th>
        <th>Заказы за текущий месяц</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
    <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category.name }}</td>
        <td>{{ product.is_active|yesno:"Активен,Неактивен" }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.orders_last_month }}</td>
        <td>{{ product.orders_current_month }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
